@import "~pc-nrfconnect-shared/src/variables";
@import "./chart.scss";

.buffer-view {
    height: 2rem;
    position: relative;
    display: none; // from flex, decide if we keep this
    align-items: center;
    margin-left: $yAxisWidthPx;

    div {
        background-color: $gray-600;
        display: block;
        position: absolute;
        border-radius: 2px;
    }

    .mid-line {
        height: 2px;
        width: 100%;
    }

    .window {
        top: 0.5rem;
        bottom: 0.5rem;
        background-color: $gray-600;
        border: 2px solid $gray-600;
        margin-left: -2px;
        cursor: grab;
    }
}

