@import "~pc-nrfconnect-shared/styles";

$yAxisWidthPx: 70px;  // must be in pixels, imported in JS
$rightMarginPx: 30px;

.chart-outer {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $gray-600;
    overflow: hidden;

    height: 100%;

    .chart-current {
        display: flex;
        flex-direction: column;
        height: inherit;
    }
    .chart-current, .chart-bits {
        background: $white;
    }

    .chart-top {
        position: relative;
    }
    .chart-container {
        height: 100%;
        contain: size;
        position: relative;
        flex: 1;
    }
    .chart-bits-container {
        margin-top: 0.5rem;
        margin-bottom: -1px;
        position: relative;
        .chart-bits {
            height: 2rem;
            flex: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1px;
            padding: 0.3rem 0;
            span {
                width: $yAxisWidthPx;
                text-align: center;
            }
        }
        .info {
            display: flex;
            position: absolute;
            top: 0;
            left: 70px;
            bottom: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            p {
                margin-bottom: 0;
                padding: 1rem;
                background-color: $white;
            }
        }
    }

    .chart-bottom {
        display: flex;
        margin-left: $yAxisWidthPx;
        > * {
            margin-right: 0.5rem;
        }
        margin-right: -0.5rem;
        padding: 0.5rem 0;
        flex-wrap: wrap;
    }
    .chart-top {
        margin-left: $yAxisWidthPx;
        margin-right: $rightMarginPx;
    }
}

:export {
    yAxisWidthPx: $yAxisWidthPx;
    rightMarginPx: $rightMarginPx;
}
