@import "~pc-nrfconnect-shared/styles";

$yAxisWidthPx: 70px;  // must be in pixels, imported in JS
$rightMarginPx: 30px;

:export {
    yAxisWidthPx: $yAxisWidthPx;
    rightMarginPx: $rightMarginPx;
}
