@import "~pc-nrfconnect-shared/src/variables";

.chart-top {
    .btn-group > .btn {
        width: 4rem;
        margin-right: 0.5rem;
        padding: 0;
        color: $gray-600;
    }
    .toggle label {
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width: 960px) {
    .chart-top {
        .btn-group > .btn {
            width: 3rem;
        }
    }
}