@import "~pc-nrfconnect-shared/src/variables";

$yAxisWidthPx: 80px;  // must be in pixels, imported in JS
$rightMarginPx: 30px;

.chart-outer {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $gray-600;
    overflow: hidden;

    height: 100%;

    .chart-current {
        display: flex;
        flex-direction: column;
        height: inherit;
    }
    .chart-current, .chart-bits {
        background: $white;
        margin: 0.2rem;
    }

    .chart-top {
        position: relative;
    }
    .chart-container {
        height: 100%;
        contain: size;
        position: relative;
        flex: 1;
    }
    .chart-bits {
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
            width: $yAxisWidthPx;
            text-align: center;
        }
    }
    .chart-bottom {
        display: flex;
        // use when btn-group is gone
        // margin-left: $yAxisWidthPx;
        > * {
            margin-right: 0.5rem;
        }
        margin-right: -0.5rem;
        padding: 0.5rem 0;

        // temporary
        .btn-group {
            max-width: $yAxisWidthPx;
            min-width: $yAxisWidthPx;
            margin-right: 0;
            height: 2rem;
        }
    }
}

:export {
    yAxisWidthPx: $yAxisWidthPx;
    rightMarginPx: $rightMarginPx;
}
