@import "~pc-nrfconnect-shared/src/variables";

.sidepanel {
    .buffer-total {
        background-color: $gray-100;
        padding: 2px;
        .buffer-used {
            background-color: $gray-700;
            height: 24px;
        }
    }
    .buffer-label {
        font-size: 10px;
    }
}
