.sidepanel-group {
    .body {
        > * {
            margin-bottom: 8px;
        }

        > *:last-child {
            margin-bottom: 0px;
        }
    }

    .heading {
        margin-bottom: 16px;

        font-size: 10px;
        font-weight: normal;
        letter-spacing: 0.5ex;

        text-transform: uppercase;
    }

    .group-toggle {
        .heading {
            transition: margin-bottom 0.2s ease-in-out;
            margin-bottom: 0;

            line-height: 13px;
            position: relative;

            &::after {
                content: "\f140";
                font-family: "Material Design Icons";
                font-size: 15px;
                display: inline-block;
                vertical-align: middle;
                transition: transform 0.2s ease-in-out;
                position: absolute;
                right: 0;
                transform-origin: 8px 6px;
                margin-right: -5px;
            }
        }

        &.show .heading {
            margin-bottom: 16px;
            &::after {
                transform: rotate(-180deg);
            }
        }
    }
}
