@import '~pc-nrfconnect-shared/src/variables';

.side-panel {
    .form-label {
        margin-bottom: 0ex;
        display: flex;
        align-items: baseline;
    }

    .btn.active-anim {
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            background: $gray-700;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            animation: snake 4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        }
    }

    @keyframes snake {
        0% {
            transform: translate(-100%);
        }
        100% {
            transform: translate(100%);
        }
    }

    .btn-set {
        color: $gray-700;
        background-color: $white;
        border-color: $gray-700;
    }
    .btn-unset {
        color: $white;
        background-color: $gray-700;
        border-color: $gray-700;
    }

    .power-mode,
    .trigger-mode {
        padding: 4px;
        background-color: $gray-700;
        button {
            padding: 4px;
            border-radius: 4px !important;
        }
        .btn:disabled {
            opacity: initial;
        }
        .dot {
            position: absolute;
            top: 1px;
            right: 1px;
            width: 6px;
            height: 6px;
            border-radius: 3px;
        }
        .btn-set .sourcemeter {
            background: $red;
        }
        .btn-set .amperemeter {
            background: $nordic-blue;
        }
    }

    .dropdown-toggle {
        font-size: inherit;
    }

    .save-load-btn-group {
        button:not(:first-of-type) {
            margin-top: 8px;
        }
    }

    .sample-frequency-group {
        margin-bottom: 12px;
    }

    .buffer-summary {
        margin-top: 4px;
    }

    .start-btn {
        margin-top: 24px;
    }

    .voltage-regulator {
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .power-cycle-btn {
        height: 28px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}
