@import "~pc-nrfconnect-shared/src/variables";

.sidepanel {
    font-size: 12px;
    color: $gray-600;

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;

        font-size: 10px;
        font-weight: normal;
        letter-spacing: 0.5ex;

        color: $gray-400;
    }

    .form-label, .form-group {
        margin-bottom: 0ex;
    }

    .number-inline-input {
        font-size: 14px;

        &:focus { background-color: $white; }
    }

    .disabled {
        pointer-events: none;
        opacity: 0.3;
    }

    .input-group.text {
        border-radius: 0;
    }

    .buffer-total {
        background-color: $gray-100;
        .buffer-used {
            background-color: $gray-600;
        }
    }
    .digital-channels .btn {
        height: 1.6rem;
        margin: 1px;
        line-height: 1rem;
    }

    .btn-set {
        color: $gray-600;
        background-color: $white;
        border-color: $gray-600;
    }
    .btn-unset {
        color: $gray-200;
        background-color: $gray-600;
        border-color: $gray-600;
    }

    .start-stop span.danger {
        font-size: 22px;
        margin-right: 0.5rem;
        color: #f44336;
    }
}
