@import "~pc-nrfconnect-shared/src/variables";

.sidepanel {
    font-size: 12px;
    color: $gray-600;

    h2 {
        margin-top: 6ex;

        text-transform: uppercase;
        font-size: 10px;
        font-weight: normal;
        letter-spacing: 0.5ex;

        color: $gray-400;
    }

    .form-label, .form-group {
        margin-top: 1ex;
        margin-bottom: 0ex;
    }

    .number-inline-input {
        font-size: 14px;

        &:focus { background-color: $white; }
    }

    .disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}
