.core-main-view {
    height: 100%;
}

.core-side-panel {
    height: 100%;
    width: 300px;
}

.nav-menu-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: large;
}
