.core-main-layout > div:nth-child(1) {
    min-width: 0;
}

.core-main-view {
    height: 100%;
}

.core-side-panel {
    height: 100%;
    flex: 0 0 300px;
    .btn-group {
        margin-bottom: 20px;
    }
}

.nav-menu-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: large;
}

.chart-container {
    height: 50%;
    width: 100%;
    position: relative;
    padding-bottom: 40px;
    .chart-bottom {
        display: flex;
        > * {
            margin-right: 20px;
        }
        .chart-stats {
            margin-left: 20px;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            background: white;
            span {
                margin: auto 20px;
            }
        }
        .btn-group {
            align-self: flex-end;
        }
    }
}
