@import "~pc-nrfconnect-shared/src/variables";

.toggle {
  display: flex;
  flex-direction: column;
}

.toggle.disabled .toggle-handle {
    cursor: default;
}

.toggle-bar {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  background: $primary;
  display: flex;
  flex-direction: row;
  min-width: 28px;
  border-radius: 8px;
  height: 16px;
}

.toggle-bar-primary {
  background: $primary;
}

.toggle-bar-secondary {
  background: $input-color;
}

.toggle-handle {
  position: absolute;
  transform: translate3d(0px, 0, 0);
  top: 2px;
  left: 2px;
  height: 12px;
  width: 12px;
  background: $custom-control-indicator-checked-bg;
  transition: all 0.2s ease;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.toggle-handle-toggled {
  transform: translate3d(12px, 0, 0);
  background: $custom-control-indicator-bg;
  transition: all 0.1s ease;
  transition-property: transform;
}

.toggle-handle-primary {
  background: $gray-700;
}

.toggle-handle-primary-toggled {
  background: $custom-control-indicator-bg;
}

.toggle-handle-secondary {
  background: $gray-300;
}

.toggle-handle-secondary-toggled {
  background: $custom-control-indicator-bg;
}

.toggle label {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  line-height: 1rem;
  margin-bottom: 0;
  margin-right: -0.5rem;
}

.toggle label > * {
  margin-right: 0.5rem;
}

.toggle-label {
  font-size: 0.8rem;
  white-space: pre-wrap;
}

.toggle-label-rest {
  text-align: end;
}

.toggle input {
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
