.buffer-view {
    position: relative;
    height: 1rem;
    width: 100%;
    background-color: #a94442;

    div {
        display: block;
        height: 1rem;
        position: absolute;
    }

    .buffer-remaining {
        background-color: #28a328;
    }
    .window {
        height: 2rem;
        top: -0.5rem;
        border: 1px dashed gray;
        background-color: #ffffffcc;
    }

    span {
        position: absolute;
        left: 4px;
        font-size: 12px;
        color: white;
        text-shadow: 0px 0px 2px black;
        pointer-events: none;
    }
}
