@import "~pc-nrfconnect-shared/src/variables";

:export {
    nordicBlue: $nordic-blue;
    blueSlate: $blue-slate;

    white: $white;
    black: $black;

    primary: $primary;
    primaryDarkened: $primary-darkened;
    secondary: $secondary;
    accent: $accent;

    gray50: $gray-50;
    gray100: $gray-100;
    gray200: $gray-200;
    gray300: $gray-300;
    gray400: $gray-400;
    gray500: $gray-500;
    gray600: $gray-600;
    gray700: $gray-700;
    gray800: $gray-800;
    gray900: $gray-900;

    red: $red;
    indigo: $indigo;
    amber: $amber;
    purple: $purple;
    green: $green;
    deepPurple: $deep-purple;
    orange: $orange;
    lime: $lime;
    pink: $pink;
}
