@import "~pc-nrfconnect-shared/src/variables";

.btn-lg, .btn-sm {
    border-radius: 0;
}

.input-group-addon {
    min-width: 60px;
}

.form-group {
    margin-bottom: 0;
}
.form-group:not(:first-child) {
    .form-check {
        padding-top: 1.25rem;
    }
}

.modal {
    background-color: #00000080;
}

// missing from shared
.toggle {
    min-height: fit-content;
    .toggle-handle-secondary-toggled {
        background: white; // overridden
    }
    .toggle-label {
        font-size: 12px; // overridden
    }
}
