@import "./variables";

$bar-height: 2px;
$handle-radius: 6px;
$handle-radius-selected: 8px;

.slider {
    height: 2*$handle-radius-selected;

    position: relative;
    margin: 0 $handle-radius;
}

.slider .slider-bar {
    position: absolute;
    top: $handle-radius-selected - 0.5 * $bar-height;
    height: $bar-height;
    margin: 0 (-$handle-radius);
}

.slider .slider-bar.background {
    left: 0;
    right: 0;
    background-color: $gray-200;
}

.slider .slider-bar.foreground {
    background-color: $gray-700;
}

.slider .slider-handle {
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    outline: 0;

    border-color: $gray-700;
    border-width: $handle-radius;
    top: $handle-radius-selected - $handle-radius;
    margin-left: -$handle-radius;

    transition-property: border-color, border-width, top, margin-left;
    transition-duration: 100ms;
}

.slider .slider-handle:hover,
.slider-handle.dragged {
    border-color: $gray-400;
    border-width: $handle-radius-selected;
    top: 0;
    margin-left: -$handle-radius-selected;

    z-index: 1;
}
